*
  box-sizing: border-box
  margin: 0
  padding: 0

html,
body
  font-size: 16px
  line-height: 1.4
  font-family: 'Raleway', sans-serif
  color: $text

a
  color: inherit

.title
  text-transform: uppercase
  font-weight: 500
  font-size: 32px
  letter-spacing: 0.2em

.line
  margin: 27px auto 0
  background-color: $accent
  width: 100px
  height: 5px
